{% extends 'base.html' %}

{% block title %}Add a New Pet{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center m-3">
        <div class="col-8 border shadow">
            
            <form id="add-pet-form" method="POST">
                {{ form.hidden_tag() }}
            
                {% for field in form 
                    if field.widget.input_type != 'hidden' %}
            
                    <p>
                        {{ field.label }}
                        {{ field }}
            
                        {% for error in field.errors %}
                            {{error}}
                        {% endfor %}
            
                    </p>
                {% endfor %}
            
                <button type="submit">SUBMIT</button>
            
            </form>
        </div>
    </div>
</div>

{% endblock %}